<!-- Eds new tailwind login -->
<div class="container mx-auto p-8 flex">
  <div class="max-w-md w-full mx-auto">
    <img
      class="object-center w-40 h-40 mx-auto my-8"
      src="../../assets/FYSIU_logo.png"
      width=""
      height=""
      alt="FYSIU"
    />

    <h1 class="text-xl text-center text-gray-500 font-semibold">
      Login
    </h1>
    <p class="text-center text-gray-500">
      Use the username and password you have received from your physiotherapist
    </p>
    <div class="p-6">
      <form method="POST" class="mb-" action="#" onsubmit="return false;">
        <div class="mb-10">
          <input
            required
            type="text"
            [(ngModel)]="loginUserData.identifier"
            name="email"
            id="email"
            #email="ngModel"
            class="block w-full p-3 rounded-full  border border-black focus:outline-none"
            pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
            placeholder="Enter your username"
          />
          <p
            *ngIf="!email.valid && email.dirty"
            class="text-red-700 m-2 text-center"
          >
            Please enter a valid email
          </p>
        </div>

        <div class="mb-10">
          <input
            required
            type="password"
            [(ngModel)]="loginUserData.password"
            name="password"
            id="password"
            #password="ngModel"
            class="block w-full p-3 rounded-full border border-black focus:outline-none"
            pattern="^[a-zA-Z0-9_-]{8,15}$"
            placeholder="Enter your password"
          />
          <p
            *ngIf="!password.valid && password.dirty"
            class="text-red-700 m-2 text-center"
          >
            Please enter a valid password
          </p>
        </div>

        <button
          type="button"
          (click)="loginUser()"
          class="w-full p-3 mt-4 bg-red-500 text-white rounded-full shadow"
        >
          LOGIN
        </button>
      </form>
      <div class="flex justify-between p-8 text-sm">
        <a routerLink="/register" class="text-gray-600">Register</a>
        <a class="text-gray-600">Forgot password?</a>
      </div>
    </div>
  </div>
</div>
