<nav class="flex flex-col justify-between flex-wrap p-6" id="main-gradient">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <a routerLink="/home" class="fas fa-arrow-left fa-2x px-3 py-2"></a>
    <span class="font-semibold text-xl tracking-tight px-3 py-2"
      >My progress</span
    >
  </div>
</nav>

<!-- UNCOMMENT THE NEXT FOLLOWING BLOCK TO SEE FLATPICKR DATE PICKER -->
<div class="w-full flex-wrap pb-6"style="color: white">
  <input
    class="appearance-none bg-transparent border-none w-full text-gray-700 leading-tight focus:outline-none"
    type="text"
    mwlFlatpickr
    [(ngModel)]="selectedDate"
    [altInput]="true"
    [convertModelValue]="true"
    inline="true"
  />
</div>

<!-- Styled input for date / not working with flatpickr... -->
<!-- <form class="p-6">
  <div
    id="calendar"
    class="flex items-center border-b border-b-2 border-red-600 p-2 "
  >
    <input
      class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
      type="text"
      data-input
    />
    <button
      id=""
      class="input-button flex-shrink-0 bg-red-500 hover:bg-red-700 border-red-500 hover:border-red-700 text-sm border-4 text-white py-1 px-2 rounded-full"
      type="button"
    >
      Change date
    </button>
  </div>
</form>  -->

<div *ngFor="let calendardate of calendarArray" class="mb-20">
  <div class="flex w-11/12 mx-auto rounded shadow bg-white mb-4">
    <div class="p-4 w-full flex">
      <div class="border-r  border-gray-500 flex-initial w-1/5">
        <p class="text-sm text-gray-500">This day</p>
        <h1
          id="main-color"
          class="leading-tight text-2xl font-bold flex-shrink"
        >
          {{ calendardate.date | date: "dd MMM" }}
        </h1>
      </div>
      <div class="flex-1 text-left pl-4">
        <p>Registered pain level</p>
        <p class="text-gray-500">Comment: {{ calendardate.comment }}</p>
      </div>
      <div class="flex-initial w-1/5">
        <h1
          id="main-color"
          class="p-2 text-4xl font-bold"
          *ngIf="calendardate.painscale != null || 0"
        >
          {{ calendardate.painscale }}
        </h1>
      </div>
    </div>
  </div>

  <div class="flex w-11/12 mx-auto rounded shadow bg-white mb-4">
    <div class="p-4 w-full flex">
      <div class="border-r  border-gray-500 flex-initial w-1/5">
        <p class="text-sm text-gray-500">This day</p>
        <div class="flex-inital w-full">
          <h1 id="main-color" class="leading-tight text-2xl font-bold">
            {{ calendardate.date | date: "dd MMM" }}
          </h1>
        </div>
      </div>

      <div class="pl-4 w-4/5 flex-initial text-left">
        <h1 class="font-medium text-xl">Exercises</h1>
        <app-dailyexercises
          [exArray]="calendardate.exercisedailydiaries"
        ></app-dailyexercises>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let calendardate of calendarArray">
    <div class="card text-center" ng-if="$first">
      <div class="card-body">
        <h5 class="card-title">
          Date: {{ calendardate.date | date: "shortDate" }}
        </h5>
        <p class="card-text">Comment: {{ calendardate.comment }}</p>
        <p class="card-text">PainScale: {{ calendardate.painscale }}</p>
        <a href="" class="btn btn-primary">Select</a>

        <app-dailyexercises
          [exArray]="calendardate.exercisedailydiaries"
        ></app-dailyexercises>

        <div class="row mt-5">
              <div class="col-md-4 mb-3" *ngFor="let ex of calendardate.exercisedailydiaries">
                <p class="card-text">Sets: {{ ex.sets }}</p> 
                <p class="card-text">Reps: {{ ex.reps }}</p>
                <p class="card-text">Occurance: {{ ex.occurance }}</p>
                <p class="card-text">Done: {{ ex.done }}</p>  
              </div>
            </div>
      </div>
    </div>
  </div>
</div> -->
