#test{
    background-image: linear-gradient(to right bottom, #ff5050, #ff6652, #ff7856, #ff895d, #ff9966);
    border-radius: 0 0 5% 5%;
    height: 35vh;
}

#main-graphic {
    margin-top: -15vh;
}

#main-color {
    /* background: linear-gradient(to right bottom, #ff5050, #ff6652, #ff7856, #ff895d, #ff9966); */
    background: -webkit-linear-gradient( #ff5050, #ff6652, #ff7856, #ff895d, #ff9966);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#main-bg-color {
    background-image: linear-gradient(to right bottom, #ff5050, #ff6652, #ff7856, #ff895d, #ff9966);
}


#whitebg {
    background-color: white;
}




/* slider styling */



  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    border-radius: 15px;
    background: #eeeeee; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #ff5050; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #ff5050; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }