<nav class="flex items-center justify-between flex-wrap p-6" id="main-gradient">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <a routerLink="/home" class="fas fa-arrow-left fa-2x px-3 py-2"></a>
    <i></i>
    <span class="font-semibold text-xl tracking-tight px-3 py-2"
      >Training exercises</span
    >
  </div>
</nav>

<nav class="flex m-4">
  <div class="flex-1 m-2">
    <a
      routerLink="/myexercises"
      class="text-center block shadow-lg border border-red-500 rounded-full text-red-500 hover:text-white hover:bg-red-500 py-2 px-4"
      >MY EXERCISES</a
    >
  </div>
  <div class="flex-1 m-2">
    <a
      routerLink="/exercises"
      class="text-center block shadow-lg border border-red-500 rounded-full text-white bg-red-500 py-2 px-4"
      >EXERCISE BANK</a
    >
  </div>
</nav>

<div class="p-2 my-4 mx-2">
<input [(ngModel)]="searchText" class="bg-white focus:outline-0 focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal" placeholder="Search exercises..." type="text">
</div>

<!-- <div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let exercise of exercisesArray">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Exercise Name: {{ exercise.name }}</h5>
        <p class="card-text">
          Exercise Description: {{ exercise.description }}
        </p>
        <a href="#" class="btn btn-primary">Select</a>
      </div>
    </div>
  </div>
</div>
 -->

<div
  class="flex bg-white rounded-lg p-2 my-4 mx-2 shadow-lg border"
  *ngFor="let exercise of exercisesArray | searchfilter : searchText"
>
  <img
    class="h-24 w-24 mr-4 rounded-lg bg-cover"
    src="https://images.unsplash.com/photo-1485727749690-d091e8284ef3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
  />
  <div class="text-left w-1/2">
    <h2 class="text-lg">{{ exercise.name }}</h2>
    <div class="text-gray-600 text-sm">Sets: 2</div>
    <div class="text-gray-600 text-sm">Repetitions: 10</div>
    <a
      href="#"
      class="text-sm text-red-500 hover:text-white bg-transparent hover:bg-red-500 border border-red-500 px-1 rounded shadow"
      >READ MORE</a
    >
  </div>
  <div class="relative w-1/4">
    <input type="checkbox" class="absolute top-0 right-0" />
  </div>
</div>
<!-- Bootstrap: -->
<!-- <div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let exercise of exercisesArray">
      <div class="card text-center">
        <div class="card-body"> 
          <h5 class="card-title">Exercise Name: {{exercise.name}}</h5>
          <p class="card-text">Exercise Description: {{exercise.description}}</p> 
          <a href="#" class="btn btn-primary">Select</a>
        </div>   
      </div>
    </div>
</div> -->

<!-- <div>
<div id="test" class="flex">
 
  <div class="flex-1 mt-4 mr-4 ">
    <div class="h-20 w-20 bg-white rounded-full float-right">
      <i class="fas fa-phone fa-3x float-right bg-white p-4 rounded-full " id="main-color"></i>
    </div>
  </div>
</div> -->

<!-- today's exercises -->
<!-- <div  id="main-graphic"  class="flex w-11/12 mx-auto rounded shadow bg-white mb-4">
  <div class="p-4 w-full flex">
    <div class="border-r  border-gray-500 flex-initial w-1/5">
      <p class="text-sm text-gray-500">Today</p>
      <h1 id="main-color" class="leading-tight text-xl font-bold flex-shrink">
     remove this div plz
      </h1>
    </div>

    <div class="pl-4 w-4/5 flex-initial text-left">
      <h1 class="font-medium text-xl">Exercise Bank</h1> -->

      <!-- single exercise-->
<!--       <div *ngFor="let ex of exercisesArray">
        <div class="flex  border border-gray border-solid m-1">
          <div class="flex-initial w-3/12">
            <img src="https://placehold.it/120x100" alt="" />
          </div>
          <div class="flex-initial w-7/12 my-auto leading-tight ml-2">
            <h1> Name: {{ex.name}} </h1>
            <p>Description: {{ex.description}}</p>
          </div>
          <div class="flex-initial w-2/12 my-auto">
            <i id="main-color" class="fa fa-plus-circle fa-2x"></i>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

</div>  -->
